.header{
    text-align: center;
    font-size: 30px;
    justify-content: center;
    background-image: url('../images/totslide03.jpg');
    height: 3.3em;
    background-size: 100%;
    font-weight : 'bold';
}