<ion-header>
  <ion-toolbar color="primary">
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row id="header">
    </ion-row>
    <ion-row id="ion-content">
    </ion-row>
    <ion-row id="banner">

      <ion-card id="banner">
        <ion-item id="bg">
          <ion-label>No Honey,No money</ion-label>
          <ion-img style="width: 100px; height: 100px;"
            src="https://assets.pokemon.com/assets/cms2/img/misc/countries/au/country_detail_pokemon.png">
          </ion-img>
          <ion-button fill="outline" slot="end">Buy!</ion-button>
        </ion-item>
      </ion-card>

    </ion-row>
  </ion-grid>
</ion-content>