<ion-header>
  <ion-toolbar color="primary">
    <ion-title align="center">home</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content align="center" >
    <ion-grid id="row">
        <h1><b>TOT APP</b></h1>
        <h4>Welcome to our Application</h4>
      </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="assets/head_150-mbps.png">
            </ion-col>
            <ion-col>
              <img src="assets/head_50-mbps.png">
            </ion-col>
            <ion-col>
              <img src="assets/head_fiber-speed-mbps.png">
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid id="row">
          <ion-row>
            <ion-col>
              news 1
            </ion-col>
            <ion-col>
              news 2
            </ion-col>
            <ion-col>
              news 3
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-list>
            <ion-item *ngFor="let item of items">
              <ion-thumbnail slot="start">
                <ion-img [src]="item.src"></ion-img>
              </ion-thumbnail>
              <ion-label>{{item.text}}</ion-label>
            </ion-item>
          </ion-list>
</ion-content>


<ion-footer padding class="getstart">
 <ion-toolbar>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>No honey,No money</p>
          </ion-col>
          <ion-col  size="4">
            <!-- <img src="assets/background-1.jpg"> -->
            <ion-button expand="full" color="primary">Buy!</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-toolbar>
</ion-footer>
