.checkborder{
    border: 2px;
    color: gray;
}
img {
    width: 120px;
    height: 100px;
  }
#row{
    border-bottom: 1px solid gray;
}
.getstart {
    background-image: url('../../assets/background-1.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
#banner{
    width: 100%;
}

.item-inner{
    background-image: url("https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
}
#bg{
    background-color: #111;
    //background-image: url("https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
}
#ion-item {
     background: #1D976C;
}
