<ion-header>
  <ion-toolbar color="primary">
    <ion-title align="center">home</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content align="center">
    <ion-grid id="row">
        <h1><b>TOT APP</b></h1>
        <h4>Welcome to our Application</h4>
      </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col class="checkborder">
              <img src="assets/head_150-mbps.png">
            </ion-col>
            <ion-col>
              <img src="assets/head_50-mbps.png">
            </ion-col>
            <ion-col>
              <img src="assets/head_fiber-speed-mbps.png">
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid id="row">
          <ion-row>
            <ion-col>
              news 1
            </ion-col>
            <ion-col>
              news 2
            </ion-col>
            <ion-col>
              news 3
            </ion-col>
          </ion-row>
        </ion-grid>
</ion-content>

<ion-footer>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>No honey,No money</p>
        </ion-col>
        <ion-col  size="4">
          <ion-button expand="full" color="primary">Buy!</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-footer>
